
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <h4 class="headings_txt">Location Based </h4>
    </div>
    <div class="row">
      <div class="col-md-9">
        <ul class="drop_ul">
          <li>
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle btn_color btn_pad" id="menu1" type="button"
                data-toggle="dropdown">All
                <span class="caret"></span></button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <!-- <li role="presentation"><a role="menuitem" tabindex="-1" href="#">HTML</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CSS</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">JavaScript</a></li> -->
              </ul>
            </div>
          </li>

          <li class="icon_pos">
            <form class="mailchimp subscribe-form" action="" novalidate="true">
              <input type="email"  name="EMAIL" id="subscriber-email" autocomplete="off" placeholder="Search">
              <button type="submit"  id="subscribe-button" class="tm-btn"><span>Search</span></button>
            </form>
          </li>
          <li>
            <a class="reset_btn">RESET</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="export_btn second_row">
      <div class="">
        <div class="text-right export_btn">
          <a href="">Export</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="table-responsive">
          <table class="table">
              <thead>
                  <tr>
                      <th align="center" style="text-align:center;">S.No</th>
                      <th >Destination location Title</th>
<th >Destination </th>
<th align="center" style="text-align:center;">Status </th>
                      <th align="center" style="text-align:center;">Action</th>
                  </tr>
              </thead>
              <tbody>
                                                                      <tr class="gradeA">
                      <td align="center" style="text-align:center;">1 &nbsp;</td>
                      <td>Maninagar</td>
                      <td>Maninagar, Ahmedabad, Gujarat, India</td>
                      
                      <td align="center" style="text-align:center;">
                      success
                      </td>
                      <td align="center" style="text-align:center;"><i class="fas fa-cog" aria-hidden="true"></i>
                      </td>
                      </tr>
                                                                      <tr class="gradeA">
                      <td align="center" style="text-align:center;">1 &nbsp;</td>
                      <td>Airport</td>
                      <td>Ahmedabad Airport (AMD), Hansol, Ahmedabad, Gujarat, India</td>
                      
                      <td align="center" style="text-align:center;">
                                               success
                          </td>
                          <td align="center" style="text-align:center;"><i class="fas fa-cog" aria-hidden="true"></i>
                          </td>
                      </tr>
                                                                      <tr class="gradeA">
                      <td align="center" style="text-align:center;">1 &nbsp;</td>
                      <td>Gota</td>
                      <td>Gota, Ahmedabad, Gujarat, India</td>
                      
                      <td align="center" style="text-align:center;">
                                                                                              success
                          </td>
                          <td align="center" style="text-align:center;"><i class="fas fa-cog" aria-hidden="true"></i>
                          </td>
                      </tr>
                                                                      <tr class="gradeA">
                      <td align="center" style="text-align:center;">1 &nbsp;</td>
                      <td>Prahlad Nagar</td>
                      <td>Prahlad Nagar, Ahmedabad, Gujarat, India</td>
                      
                      <td align="center" style="text-align:center;">
                                                                                              success
                          </td>
                          <td align="center" style="text-align:center;"><i class="fas fa-cog" aria-hidden="true"></i>
                          </td>
                      </tr>
                                                                      <tr class="gradeA">
                      <td align="center" style="text-align:center;">1 &nbsp;</td>
                      <td>Iscon</td>
                      <td>Iscon Mega Mall, Sarkhej - Gandhinagar Highway, Bodakdev, Ahmedabad, Gujarat, India</td>
                      
                      <td align="center" style="text-align:center;">
                                                                                              success
                          </td>
                          <td align="center" style="text-align:center;"><i class="fas fa-cog" aria-hidden="true"></i>
                          </td>
                      </tr>
                                                                      </tbody>
              </table>
      </div>
    
    </div>
  </div>
</div>
