<div class="content">
  <div class="container-fluid">
    <div class="row">
      <h4 class="headings_txt">Bookings List View</h4>
    </div>
    <div class="row">
      <div class="col-md-9">
        <ul class="drop_ul">
          <li>
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle btn_color btn_pad" id="menu1" type="button"
                data-toggle="dropdown">All
                <span class="caret"></span></button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <!-- <li role="presentation"><a role="menuitem" tabindex="-1" href="#">HTML</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CSS</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">JavaScript</a></li> -->
              </ul>
            </div>
          </li>

          <li class="icon_pos">
            <form class="mailchimp subscribe-form" action="" novalidate="true">
              <input type="email" [(ngModel)]="searchdata" name="EMAIL" id="subscriber-email" autocomplete="off" placeholder="Search">
              <button type="submit" (click)='findname(searchdata)' id="subscribe-button" class="tm-btn"><span>Search</span></button>
            </form>
          </li>
          <li>
            <a (click)='reset()' class="reset_btn">RESET</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="export_btn second_row">
      <div class="">
        <div class="text-right export_btn">
          <a href="">Export</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">S.No</th>
              <th scope="col">Booking ID </th>
              <th scope="col">From </th>
              <th scope="col">To </th>
              <th scope="col">Estimation </th>
              <th scope="col">Total </th>
              <th scope="col">Status</th>
              <th scope="col">View</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let r of bookingslist; let i = index">
              <th scope="row">{{(( page * 10 ) + ( i + 1)) - 10}}</th>
              <td>{{r.Id}}</td>
              <td>{{r.FromLocation}}</td>
              <td>{{r.ToLocation}}</td>
              <td>{{r.CurrencyType}}{{r.Estimation}}</td>
              <td>{{r.TotalAmount}}</td>
              <th [ngSwitch] = "r.Status">
              <span scope="row" *ngSwitchCase="'completed'" style="color: #0c5a19;">{{r.Status}}</span>
              <span scope="row" *ngSwitchCase="'cancelled'" style="color: #f44336;">{{r.Status}}</span>
              <span scope="row" *ngSwitchCase="'waiting'" style="color: #ffeb3b;">{{r.Status}}</span>
              <span scope="row" *ngSwitchCase="'processing'" style="color: #ff9800;">{{r.Status}}</span>
              <span scope="row" *ngSwitchCase="'assigned'" style="color: #0c5a19;">{{r.Status}}</span>
              <span scope="row" *ngSwitchCase="'arrived'" style="color: #0c5a19;">{{r.Status}}</span>
              <span scope="row" *ngSwitchCase="'pickedup'" style="color: #0c5a19;">{{r.Status}}</span>
              <span scope="row" *ngSwitchCase="'dropped'" style="color: #0c5a19;">{{r.Status}}</span>
              <span scope="row" *ngSwitchCase="'accepted'" style="color: #0c5a19;">{{r.Status}}</span>
              </th>

              <td><a [routerLink]="['/bookingsView', r.Id]" class="btn btn-primary">View</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    
      <ngb-pagination  class="d-flex justify-content-center" [collectionSize]="pages" [(page)]="page" [maxSize]="5" (pageChange)="getBookingsView($event)"
        [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
    </div>
  </div>
</div>

